<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    
  </head>
  <body>
    <div class="grid-container">

      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/Dashboard">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/My_Products" >
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Track_Order" >
              <span class="material-icons-outlined">category</span> Track Order
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/add_new_order">
              <span class="material-icons-outlined">groups</span> Add Order
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/edit_product" >
              <span class="material-icons-outlined">fact_check</span> Edit Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/MonthSell">
              <span class="material-icons-outlined" name="MonthSell" id="MonthSell">poll</span> Month Sell Analysis
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" >
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title" style="max-width:95%;">
          <h2>Add New Product</h2>
        </div>
        <div class="content" style="margin-left: 23%; margin-top: 0px; width: 500px;">
                 <form action="/Add New Product" method="post">
                     <h2 style="padding-left: 30%;">Add New Product</h2>
                     <div class="field">
                        <label for="ProductName">Enter Product Name:</label>
                        <input type="text" id="ProductName" name="ProductName" required >
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="ProductId">Enter Product ID for Product:</label>
                        <input type="number" name="ProductId" id="ProductId"  value="0" required>
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="Price">Enter Product Price </label>
                        <input type="number" id="Price" name="Price" value="0" required> 
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="Quantity">Enter Quantity of Product </label>
                        <input type="number" id="Quantity" name="Quantity" value="0" required>
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="Discount">Enter Discount of Product:</label>
                        <input type="number" name="Discount" id="Discount" value="0" required>
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="CostPrice">Enter CostPrice of Product:</label>
                        <input type="number" name="CostPrice" id="CostPrice" required>
                     </div>
                     <br><br>
                     <div class="field">
                        <label for="ProductType">Select Product Type:</label>
                        <select name="ProductType" id="ProductType" required>
                            <option value="Weightable">Weightable</option>
                            <option value="Countable">Countable</option>
                        </select>
                     </div>
                     <br><br>
                     <button type="submit" value="submit">Submit</button>
                 </form>
        </div>
      </main>
      <!-- End Main -->

    </div>
    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>

    <!-- Custom JS -->
    <!-- <script src="Dashboard.js"></script> -->
    <script>
      let sidebarOpen = false;
const sidebar = document.getElementById('sidebar');

function openSidebar() {
  if (!sidebarOpen) {
    sidebar.classList.add('sidebar-responsive');
    sidebarOpen = true;
  }
}

function closeSidebar() {
  if (sidebarOpen) {
    sidebar.classList.remove('sidebar-responsive');
    sidebarOpen = false;
  }
}

    </script>
  </body>
</html>

