<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <!-- <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header> -->
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/Dashboard">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/My_Products">
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Track_Order">
              <span class="material-icons-outlined" >category</span> Track Order
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/add_new_order">
              <span class="material-icons-outlined">groups</span> Add Order
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Edit Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/MonthSell">
              <span class="material-icons-outlined" name="MonthSell" id="MonthSell">poll</span> Month Sell Analysis
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>{{ Title }}</h2>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <h3>Total Revenue</h3>
              <span class="material-icons-outlined">inventory_2</span>
            </div>
            <h1>{{ Total_Revenue }}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>Total Profit</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            <h1>{{ Total_Profit }}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>Total Cost</h3>
              <span class="material-icons-outlined">groups</span>
            </div>
            <h1>{{ Total_Cost }}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h>Total Order</h3>
              <span class="material-icons-outlined">poll</span>
            </div>
            <h1>{{ Total_Orders }}</h1>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <h2 class="chart-title">Top Selling Products</h2>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title"> Sells in terms of Time Period</h2>
            <div id="area-chart"></div>
          </div>

          <div class="charts-card">
          
            <h2 class="chart-title">Profit Distribution</h2>
            <div id="pie-chart1"></div>
          </div>

          <div class="charts-card">
          
            <h2 class="chart-title">Number of Orders Distribution </h2>
            <div id="pie-chart2"></div>
          </div>

          <!-- <div class="charts-card">
            <div class="card-header">
              <div class="card-title">
                <h2>Order List</h2>
              </div>
            </div>
            <div class="form">
              <div class="input-group">
                <h5>Product Name</h5>
                <input type="text" id="name">
              </div>
              <div class="input-group">
                <h5>Order I'd</h5>
                <input type="number" id="name">
              </div>
              <div class="input-group">
                <h5>Price</h5>
                <input type="number" id="phone">
              </div> -->
            </div>
            <div class="table">
              <table>
                <tr>
                  <th>Name</th>
                  <th>Order Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Time</th>
              </tr>
              {% for Order in Orders %}
              <tr>
                  <td>{{ Order.CUSTOMER_NAME }}</td>
                  <td>{{ Order.ORDER_NAME }}</td>
                  <td>{{ Order.PRICE }}</td>
                  <td>{{ Order.QUANTITY }}</td>
                  <td>{{ Order.ORDER_ID }}</td>
                  <td>{{ Order.DATE }}</td>
                  <td>{{ Order.TIME }}</td>
              </tr>
              {% endfor %}
              </table>
            </div>
        </div>
        
        
        
      </main>
      <!-- End Main -->

    </div>
    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>

    <!-- Custom JS -->
    <!-- <script src="Dashboard.js"></script> -->
    <script>
      let sidebarOpen = false;
const sidebar = document.getElementById('sidebar');

function openSidebar() {
  if (!sidebarOpen) {
    sidebar.classList.add('sidebar-responsive');
    sidebarOpen = true;
  }
}

function closeSidebar() {
  if (sidebarOpen) {
    sidebar.classList.remove('sidebar-responsive');
    sidebarOpen = false;
  }
}

// ---------- CHARTS ----------

// BAR CHART
const barChartOptions = {
  series: [
    {
      data: {{ Hist_values | tojson }},
      name: 'Products',
    },
  ],
  chart: {
    type: 'bar',
    background: 'transparent',
    height: 350,
    toolbar: {
      show: false,
    },
  },
  colors: ['#2962ff', '#d50000', '#2e7d32', '#ff6d00', '#583cb3'],
  plotOptions: {
    bar: {
      distributed: true,
      borderRadius: 4,
      horizontal: false,
      columnWidth: '40%',
    },
  },
  dataLabels: {
    enabled: false,
  },
  fill: {
    opacity: 1,
  },
  grid: {
    borderColor: '#55596e',
    yaxis: {
      lines: {
        show: true,
      },
    },
    xaxis: {
      lines: {
        show: true,
      },
    },
  },
  legend: {
    labels: {
      colors: '#f5f7ff',
    },
    show: true,
    position: 'top',
  },
  stroke: {
    colors: ['transparent'],
    show: true,
    width: 2,
  },
  tooltip: {
    shared: true,
    intersect: false,
    theme: 'dark',
  },
  xaxis: {
    categories: {{ Hist_labels | tojson }},
    title: {
      style: {
        color: '#f5f7ff',
      },
    },
    axisBorder: {
      show: true,
      color: '#55596e',
    },
    axisTicks: {
      show: true,
      color: '#55596e',
    },
    labels: {
      style: {
        colors: '#f5f7ff',
      },
    },
  },
  yaxis: {
    title: {
      text: 'Count',
      style: {
        color: '#f5f7ff',
      },
    },
    axisBorder: {
      color: '#55596e',
      show: true,
    },
    axisTicks: {
      color: '#55596e',
      show: true,
    },
    labels: {
      style: {
        colors: '#f5f7ff',
      },
    },
  },
};

const barChart = new ApexCharts(
  document.querySelector('#bar-chart'),
  barChartOptions
);
barChart.render();

// AREA CHART
const areaChartOptions = {
  series: [
    {
      name: 'Purchase Orders',
      data: {{ LineChart_values | tojson }},
    },
    
  ],
  chart: {
    type: 'area',
    background: 'transparent',
    height: 350,
    stacked: false,
    toolbar: {
      show: false,
    },
  },
  colors: ['#00ab57', '#d50000'],
  labels: {{ LineChart_labels | tojson }},
  dataLabels: {
    enabled: false,
  },
  fill: {
    gradient: {
      opacityFrom: 0.4,
      opacityTo: 0.1,
      shadeIntensity: 1,
      stops: [0, 100],
      type: 'vertical',
    },
    type: 'gradient',
  },
  grid: {
    borderColor: '#55596e',
    yaxis: {
      lines: {
        show: true,
      },
    },
    xaxis: {
      lines: {
        show: true,
      },
    },
  },
  legend: {
    labels: {
      colors: '#f5f7ff',
    },
    show: true,
    position: 'top',
  },
  markers: {
    size: 6,
    strokeColors: '#1b2635',
    strokeWidth: 3,
  },
  stroke: {
    curve: 'smooth',
  },
  xaxis: {
    axisBorder: {
      color: '#55596e',
      show: true,
    },
    axisTicks: {
      color: '#55596e',
      show: true,
    },
    labels: {
      offsetY: 5,
      style: {
        colors: '#f5f7ff',
      },
    },
  },
  yaxis: [
    {
      title: {
        text: 'Purchase Orders',
        style: {
          color: '#f5f7ff',
        },
      },
      labels: {
        style: {
          colors: ['#f5f7ff'],
        },
      },
    },
    {
      opposite: true,
      title: {
        text: 'Sales Orders',
        style: {
          color: '#f5f7ff',
        },
      },
      labels: {
        style: {
          colors: ['#f5f7ff'],
        },
      },
    },
  ],
  tooltip: {
    shared: true,
    intersect: false,
    theme: 'dark',
  },
};

const areaChart = new ApexCharts(
  document.querySelector('#area-chart'),
  areaChartOptions
);
areaChart.render();


//piechart
const pieChartOptions = {
  series: {{ PieChart1_values | tojson }},
  chart: {
    type: 'pie',
    background: 'transparent',
    height: 350,
  },
  colors: ['#2962ff', '#d50000', '#2e7d32', '#ff6d00', '#583cb3'],
  labels: {{ PieChart1_labels | tojson }},
  dataLabels: {
    enabled: false,
  },
  fill: {
    type: 'gradient',
  },
  legend: {
    show: true,
    position: 'top',
    horizontalAlign: 'left',
    floating: false,
    fontSize: '14px',
    offsetY: 0,
    offsetX: 0,


    labels: {
      colors: '#f5f7ff',
      fontSize: '14px',
      fontFamily: 'Poppins',
      fontWeight: 400,
      formatter: function (val) {
        return val
      }

    },
    markers: {
      width: 12,
      height: 12,
      strokeWidth: 0,
      strokeColor: '#fff',
      fillColors: undefined,
      radius: 12,
      onClick: undefined,
      offsetX: 0,
      offsetY: 0,
    },
    itemMargin: {
      horizontal: 5,
      vertical: 0,
    },
    show: true,
    position: 'top',
  },
  stroke: {
    show: true,
    width: 2,
  },
  tooltip: {
    shared: true,
    intersect: false,
    theme: 'dark',
  },
};

const pieChart = new ApexCharts(
  document.querySelector('#pie-chart1'),
  pieChartOptions
);
pieChart.render();

const pieChart2Options = {
  series: {{ PieChart2_values | tojson }},
  chart: {
    type: 'pie',
    background: 'transparent',
    height: 350,
  },
  colors: ['#2962ff', '#d50000', '#2e7d32', '#ff6d00', '#583cb3'],
  labels: {{ PieChart2_labels | tojson }},
  dataLabels: {
    enabled: false,
  },
  fill: {
    type: 'gradient',
  },
  legend: {
    show: true,
    position: 'top',
    horizontalAlign: 'left',
    floating: false,
    fontSize: '14px',
    offsetY: 0,
    offsetX: 0,


    labels: {
      colors: '#f5f7ff',
      fontSize: '14px',
      fontFamily: 'Poppins',
      fontWeight: 400,
      formatter: function (val) {
        return val
      }

    },
    markers: {
      width: 12,
      height: 12,
      strokeWidth: 0,
      strokeColor: '#fff',
      fillColors: undefined,
      radius: 12,
      onClick: undefined,
      offsetX: 0,
      offsetY: 0,
    },
    itemMargin: {
      horizontal: 5,
      vertical: 0,
    },
    show: true,
    position: 'top',
  },
  stroke: {
    show: true,
    width: 2,
  },
  tooltip: {
    shared: true,
    intersect: false,
    theme: 'dark',
  },
};

const pieChart2 = new ApexCharts(
  document.querySelector('#pie-chart2'),
  pieChart2Options
);
pieChart2.render();
    </script>
  </body>
</html>